ALTER USER 'root'@'%' IDENTIFIED BY '${MYSQL_ROOT_PASSWORD}';

DROP USER IF EXISTS 'Rudy'@'%';

CREATE USER 'Rudy'@'%' IDENTIFIED BY '${MYSQL_MASTER_PASSWORD}';

GRANT ALL PRIVILEGES ON `${MYSQL_DATABASE}`.* TO 'Rudy'@'%';
GRANT CREATE, DROP, ALTER, INDEX, CREATE TEMPORARY TABLES, CREATE USER ON *.* TO 'Rudy'@'%';

FLUSH PRIVILEGES;